<resources xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <properties>
        <property id="ha_url" type="string"></property>
        <property id="ha_token" type="string"></property>
    </properties>

    <strings>
        <string id="ha_url_title">Home Assistant URL</string>
        <string id="ha_token_title">Long-Lived Access Token</string>
    </strings>

    <settings>
        <setting propertyKey="@Properties.ha_url" title="@Strings.ha_url_title">
            <settingConfig type="alphaNumeric" />
        </setting>

        <setting propertyKey="@Properties.ha_token" title="@Strings.ha_token_title">
            <settingConfig type="alphaNumeric" />
        </setting>
    </settings>

</resources>
